$blue: #1e478a
$red: #c33431
$white: #fafafa

.headerLogoStyle
  margin: 15px 0px 0px 10px
  height: 70px
  width: 70px

.headerColor
  background-color: $blue
  color: $white

.header
  display: flex

.col-md-10
  padding-top: 23px
  cursor: pointer

.headerSubTitle
  padding-top: 10px
  padding-left: 75px
