.cardSize
  margin-bottom: 5%

.imageSize
  max-height: 250px
  width: 100%
  box-shadow: 6px 6px 4px #696969

.titlePosition
  margin-top: 20px
  text-align: center

.messagePosition
  text-align: center
  padding-bottom: 20px
  font-weight: bold

.loadingPosition
  text-align: center
  margin-top: 25%

.customStyles
  top: 5%
  left: 30%
  right: 30%
  bottom: 5%
  background-color: white
  position: absolute
  // opacity: 0
  transition: opacity 2000ms ease-in-out

.modalImageStyle
  width: 60%

.modalImagePosition
  display: table-cell
  text-align: center
  vertical-align: middle

.modalFontStyle-Name
  font-size: 25px
  margin: 10px

.modalFontStyle
  margin: 10px
